<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheet/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/javascripts/client_side.js">
</head>
<body>

<nav class = "blue">
    <div  class=" nav-wrapper container">
        <a href="#" class="brand-logo left hide-on-med-and-down">Note Taking Application</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/">Home</a></li>
          </ul>
    </div>
</nav>
<div id="footer">
    <p style="text-align: center;">2020 © Copyright by Ayus Das| Developed by Ayus Das</p>
</div>
</body>
</html>