<!DOCTYPE html>
<html lang="en">
<body>
<nav class = "blue">
    <div  class=" nav-wrapper container">
        <a href="#" class="brand-logo center hide-on-med-and-down">Note Taking Application</a>
    </div>
</nav>
</body>
</html>