<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    {{>base}}

    <div class="container">
    <div class="row">
    <div class="col l12 s12 m12">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <span class="card-title">Submit your request through the form below.</span>
          <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">one<span class="badge">1</span></a></li>
            <li><a href="#!">two<span class="new badge">1</span></a></li>
            <li><a href="#!">three</a></li>
          </ul>
          <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Dropdown<i class="material-icons right">arrow_drop_down</i></a>          
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>